<%= form_with(model: user, class: 'contents') do |form| %>
  <div class="my-5">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>

  <div class="my-5">
    <%= form.label :locked %>
    <%= form.check_box :locked %>
  </div>

  <div class="inline">
    <%= form.submit class: 'w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer' %>
  </div>
<% end %>
