<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV['HOA_TITLE'] || 'HOA' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <%- if notice %>
      <p class="bg-green-200 text-green-700 h-12 p-2"><%= notice %></p>
    <% end %>
    <%- if alert %>
      <p class="bg-red-300 text-red-600 h-12 p-2"><%= alert %></p>
    <% end %>
    <main class="mx-auto mt-16 px-5">
      <%= yield %>
    </main>
  </body>
</html>
